html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    box-sizing: border-box; /*make sure to center the content*/
    
    width: 1200px; /*viewpoint restriction*/
    height: 750px;
    background-color: orange;
    
    border: 1px solid black;
    border-radius: 20px;

    padding: 20px;

    position: relative;
}

header{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#barGraph{
    width: 1100px;
    height: 250px;
}
#centerBar{
    width: 1100px;
    height: 15px;
    background-color: blue;
    border-radius: 20px;
}
#dayDate{
    display: flex;
    gap: 15px;

    position: absolute;
    top: 51.5%;
    left: 4.7%;
}
#thePoint{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#thePoint p{
    writing-mode: vertical-lr;
    font-size: 20px;
}
.rotateTxt{
    transform: rotate(90deg);
    transform-origin: left top;
}
#detailStat{
    background-color: green;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;

    margin: 40px 0 0 0;
    padding: 20px;    

    position: absolute;
    bottom: 5%;
}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
}


