html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(113, 213, 143);

}

#container{
    box-sizing: border-box; /*make sure to center the content*/
    
    width: 1200px; /*viewpoint restriction*/
    height: 750px;
    background: #449c35;
    background: linear-gradient(180deg, rgba(68, 156, 53, 1) 0%, rgba(61, 168, 104, 1) 50%, rgba(30, 66, 22, 1) 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    padding: 20px;

    position: relative;
}

header{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    margin: 5px 0 0 0;
    padding: 0;

    font-family: "Permanent Marker";
    font-size: 55px;
}
h2{
    margin: 10px 0 0 0;
    padding: 0;

    font-family: "Jua";
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#barGraph{
    width: 1100px;
    height: 265px;
}
#centerBar{
    width: 1100px;
    height: 15px;
    background-color: rgb(22, 70, 43);
    border-radius: 20px;
}
#dayDate{
    display: flex;
    gap: 15px;

    position: absolute;
    top: 51.5%;
    left: 5%;

    z-index: 1;
}
#thePoint{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#thePoint p{
    writing-mode: vertical-lr;

    font-family: "Montserrat";
    font-size: 20px;

    color: rgb(30, 242, 41);
}
.rotateTxt{
    transform: rotate(90deg);
    transform-origin: left top;
}

#detailStat{
    background-color: rgb(121, 230, 121);
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    margin: 40px 0 0 0;
    padding: 20px;
    
    text-align: center;

    position: absolute;
    bottom: 5%;
}
#detailStat p{
    margin: 0;
    padding: 0;

    font-family: "DM Sans";
    font-size: 20px;
}

.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(165, 250, 186);
}

#dataBarGroup{
    display: flex;
    gap: 38px;
    align-items: baseline;
    
    position: absolute;
    top: 21%;
    left: 6.8%;

    z-index: 0;
}
.dataBar{
    width: 40px;
}
.outerBar{
    background-color: rgba(49, 49, 49, 0.292);
    border-radius: 10px 10px 0 0;
    width: 20px;
}
.innerBar{
    background-color: rgb(162, 253, 113);
    width: 20px;
}

#outBar1{
    height: 145px;
}
#inBar1{
    height: 73px;
}
#outBar2{
    height: 0px;
}
#inBar2{
    height: 108px;
}
#outBar3{
    height: 84px;
}
#inBar3{
    height: 48px;
}
#outBar4{
    height: 121px;
}
#inBar4{
    height: 73px;
}
#outBar5{
    height: 85px;
}
#inBar5{
    height: 61px;
}
#outBar6{
    height: 73px;
}
#inBar6{
    height: 48px;
}
#outBar7{
    height: 109px;
}
#inBar7{
    height: 73px;
}
#outBar8{
    height: 97px;
}
#inBar8{
    height: 133px;
}
#outBar9{
    height: 97px;
}
#inBar9{
    height: 48px;
}
#outBar10{
    height: 121px;
}
#inBar10{
    height: 36px;
}
#outBar11{
    height: 145px;
}
#inBar11{
    height: 61px;
}
#outBar12{
    height: 73px;
}
#inBar12{
    height: 61px;
}
#outBar13{
    height: 145px;
}
#inBar13{
    height: 73px;
}
#outBar14{
    height: 97px;
}
#inBar14{
    height: 24px;
}