body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(114,231,255,1) 100%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

/*header CSS*/
header{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;

   margin: 15px auto;
}
h1, h2{
    margin: 0;
}
h1{
    padding: 0;

    color: rgb(247, 247, 247);
    font-family: "Chewy";
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}
h2{
    padding: 0 0 10px 0;
    
    color: rgb(245, 245, 245);
    font-family: "Rubik Bubbles";
    font-size: 65px;
    text-shadow: 1px 1px 2px black;
}
#banner{
    width: 1100px;
    height: 250px;

    align-self: center;
    position: relative;

    margin: 0;
}
#bannerImage{
    display: block;
    margin: 0 auto;
    padding: 0;

    width: 880px;
    height: 270px;
}
#test{
    position: absolute;
    top: 2%;
    right: 15%;
}


/*body CSS*/
main{
    margin: 20px 0;

    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu{
    background-color: rgb(156, 227, 255);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    flex: 1;
    width: 180px;
    padding: 10px;
    margin: 0;
}
.menu:first-child{
    margin-left: 20px;
}
.menu:last-child{
    margin-right: 20px;
}
.menu h3{
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;

    font-family: "Lexend Deca";
    font-size: 28px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li a{
    text-decoration: none;
    
    color: rgb(71, 75, 25);
    line-height: 2em;

    font-family: "Kumbh Sans";
    font-size: 13px;
    font-weight: 300;

    transition: all 0.5s;
}
.menu ul li a:hover{
    display: inline-block;
    
    color: rgb(0, 84, 202);
    transform: scale(1.2);
    font-weight: 500;
    
    transition: all 0.5s;
}