/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* end Resets */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #344E41;
    background-color: #A3B18A;
}
nav {
    border-top: 2px solid #344E41;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color:#344E41;
    font-weight: bold;
    border-bottom: 2px solid #344E41;
    text-align: center;
    padding: 10px;
}

header, footer {
    background-color: #DAD7CD;
}

header, section, footer {
    padding: 20px;
}

section:nth-child(even){
    background-color: #588157;
    color: #c3ded1
}

.container {
    max-width: 1000px;
}

.analysisSection{
    background-color: #3A5A40;

    padding: 15px;
    border-radius: 15px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#theQuestion{
    text-align: center;
}


h1, h2 {
    margin-bottom: .5em;
}
h1{
    font-family: 'Instrument Sans';
    font-size: 35px;
}
h2{
    font-family: 'League Spartan';
    font-size: 28px;
}


p {
    line-height: 1.4em;
    margin-bottom: 0px;
}

ol li {
    margin-bottom: 1em;
}

img {
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #344E41;
}

p, ol li, a{
    font-family: 'Montserrat';
    font-size: 18px;
}
em{
    font-family: 'League Spartan';
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container{ margin: auto; }
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
    .content { 
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}