body{
    display: flex;
    flex-direction: column;
    margin: 20 auto;

    background-color: #58d58c;
}
header{
    text-align: center;
}
main{
    align-self: center;
    width: 900px;
}
section{
    background-color: skyblue;
    border-radius: 20px;

    padding: 15px;
    margin: 20px;
}