header{
    text-align: center;
    background-color: transparent;
}

body{
    background-color: bisque;

    margin: 20px auto;
    text-align: center;
}
#gradient-canvas{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#toggleCircleGroup{
    position: fixed;
    top: 30px;
    right: 30px;

    display: flex;
    flex-direction: column;

    gap: 20px;    
}
#default-state-cta{
    width: 75px;
    height: 75px;
    background-color: rgb(143, 46, 46);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#violet-state-cta{
    width: 75px;
    height: 75px;
    background-color: rgb(64, 54, 158);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#orange-state-cta{
    width: 75px;
    height: 75px;
    background-color: rgb(19, 183, 104);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
section{
    height: 300px;
    
    display: flex;
    justify-self: center;
    align-items: center;
    
    text-align: center;
    
    background-color: white;
    color: black;
    
    padding: 10px;
    margin: 200px 0;
    z-index: 1;
}
.content{
    max-width: 600px;
    width: 200px;
}
.content img{
    margin-top: 10px;
    width: 100px;
    max-width: 400px;
    border-radius: 10px;
}


footer{
    background-color: rgba(105, 105, 157, 0.601);
}