#mainContent{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    filter: grayscale(0%) contrast(100%) invert(0%);
}

.fa-expand{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: rgb(55, 55, 55);
}
.fa-expand:hover{
    cursor: pointer;
}

#line{
    position: absolute;

    bottom: 3%;
    left: 3%;
}
#line p{
    margin: 0;
    padding: 0;
    
    color: red;
    font-size: 30px;
}