#mainContent{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    filter: grayscale(50%) contrast(100%) invert(0%);
}


.fa-expand{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: rgb(55, 55, 55);

    transform: all 0.5s;
}
.fa-expand:hover{
    cursor: pointer;
    color: orange;
    transform: all 0.5s;
}


#loadingText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}
#loadingText p{
    color: rgb(37, 37, 37);
    font-family: 'Rubik Glitch';
    font-size: 25px;

    animation: loadingText 10s infinite alternate ease-in-out;
}
@keyframes loadingText{
    0%{
        opacity: 0.5;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
    }
    100%{
        opacity: 0.5;
        transform: scale(1);
    }
}


#line{
    position: absolute;

    top: 3%;
    left: 3%;
}
#line p{
    margin: 0;
    padding: 0;
    
    color: rgb(255, 255, 255);
    font-family: "Fredericka the Great";
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(87, 87, 87);
}


#troubleshoot{
    position: absolute;

    bottom: 0%;
    right: 0%;

    background-color: gray;
    width: 220px;
    height: 40px;

    margin: 0;
    padding: 5px 10px 5px 10px;
}
#troubleshoot p{
    margin: 0;
    padding: auto;

    font-family: "National Park";
}
a{
    color: blue;
    text-decoration: none;
}


.hidden{
    opacity: 0;
    visibility: hidden;

    transition: all 0.2s ease;
}
.showing{
    opacity: 1;
    visibility: visible;

    transition: all 0.2s ease;
}


